.card::-webkit-scrollbar {
    display: none; /* Esconder scrollbar para Chrome, Safari and Opera */
}

.card {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}