@media(max-width:1280px){
  .tamanhoResponsivo{
    height: 70vh;
  }
}
@media(max-width:1440px){
  .tamanhoResponsivo{
    height: 60vh;
  }
}
@media(min-width:1800px){
  .tamanhoResponsivo{
    height: 70vh;
  }
}
